.DS_Store
node_modules/
webdist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/test/unit/coverage
test/e2e/reports
selenium-debug.log

# Golang
Hacksite
database.db
logs/

# extras
hacksite.zip
.idea
certs/
*.iml
