@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "colors.scss";
@import "typography.scss";

body {
  margin: 0;
}

.header {
  height: 50px;
  line-height: 50px;
  display: flex;

  i {
    width: 18px;
    height: 18px;
  }

  h1 {
    margin: 0;
    margin-left: 10%;
    flex-grow: 1;
    font-family: $titleFont;
  }

  h4 {
    margin: 0;
    margin-right: 20px;
  }
  h4:last-child {
    margin-right: 10%;
  }
}

.button {
  cursor: pointer;
}