@import "variables.scss";
* {
  font-family: $font;
  font-size: 16px;
}

h1 {
  font-family: $headerFont;
  font-size: 24px;
}

h2 {
  font-family: $headerFont;
  font-size: 20px;
}

h3 {
  font-family: $headerFont;
  font-size: 18px;
}

h4 {
  font-family: $headerFont;
  font-size: 16px;
}
